.container {
  background-color: #e7ece5;
}

.imgs {
  width: 100%;
  height: 60vh;
  align-items: center;
  overflow: hidden;
}
#about-us-page {
  background-color: #e7ece5;
}
#about-us {
  font-size: 1.4rem;
}
